#Profile, #PageHead, #Off, #PageTitle, #Text, .FoodDesc, #Explore {
    margin:0;
    margin-left: 2px;
    padding:0;
    border: 0;
    font-family: 'Roboto';
}
body {
    background-color: antiquewhite;
}
#Profile {
    display: inline-block;
    width: 512px;
    height: 514px;
    border-radius: 256px;
}
#PageHead {
    display: inline-block;
    width: 562px;
    height: 377px;
}
#Off {
    margin-bottom: 30px;
    width: 205px;
    height: 35px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: #149F39;
}
#PageTitle {
    margin-bottom: 20px;
    width: 562px;
    height: 168px;
    font-size: 72px;
    line-height: 84.38px;
    color: #000000;
}
#Text {
    margin-bottom: 30px;
    width: 363px;
    height: 35px;
}
.FoodDesc{
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    color: #000000;
}
#Explore {
    width: 174px;
    height: 57px;
    font-size: 24px;
    font-weight: 500;
    line-height: 19px;
    color: #FFFFFF;
    background-color:  #FFC066;
}
